#container {
				/* font-family: 'Raleway', sans-serif; */
				font-family: 'Lato', sans-serif;
				padding-top: 30px;
				margin-left: auto;
				margin-right: auto;
			}
			
			#header {
				font-family: 'Lato', sans-serif;
				margin-bottom: 20px;
			}
			
			#name {
				float: left;
				font-size: 48px;
				font-weight: 100; 
				line-height: 48px;
				padding-right: 10px;
				border-right: 1px solid black;
			}
			
			#contact {
				float: left;
				font-size: 14px;
				padding-left: 10px;
			}
			
			#contact span {
				display: block;
			}
			
			.sub-header {
				margin-top: 15px;
			}
			
			.sub-header-title {
				font-family: 'Lato', sans-serif;
				font-size: 30px;
				text-align: right;
				width: 160px;
				color: rgb(255, 45, 85);
			}
			
			.org {
				
			}
			
			.org-title {
				font-size: 14px;
				margin-top: 14px;
			}
			
			.org-title .date {
				font-size: 12px;
				font-weight: bold;
				text-align: right;
				width: 160px;
			}
			
			.org-title .corp {
				font-weight: bold;
				margin-left: 30px;
				
			}
			
			.org-title .location {
				margin-left: 8px;
			}
			
			.org-title span {
				display: block;
				float: left;
			}
			
			.org-desc {
				font-size: 14px;
				width: 540px;
				margin-left: 190px;
				margin-top: 6px;
			}

			.org-small-text {
				font-size: 12px;
				margin-left: 190px;
				margin-top: 8px;
			}
			
			#skills {
				border-top: 1px solid black;
				padding-top: 10px;
				width: 650px;
				margin-left: auto;
				margin-right: auto;
				font-family: 'Raleway', sans-serif;
				font-size: 14px;
				margin-left: 80px;
				margin-top: 20px;
			}
			
			#skills #title {
				
			}
			
			#skills span {
				
			}
			
			.clear {
				clear: both
			}